{:source-paths ["src/cljs"]
 :dependencies [[reagent "2.0.1"]
                [cljs-ajax "0.8.4"]]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:init-fn social-media-app-clone.core/init}}
        :js-options {:resolve {"react"     {:npm-package "react"}
                               "react-dom" {:npm-package "react-dom"}}}
        :devtools {:after-load social-media-app-clone.core/init}}}}
